<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="navbar" th:fragment="navbar">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:text="${username}">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/dashboard">Liste</a></li>
                        <li><a href="/addelement">Neues Feature</a></li>
                        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/users">Benutzerverwaltung</a></li>
                        <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a href="/addnewuserbyadmin">Benutzer anlegen</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/settings">Einstellungen</a></li>
                        <li><a href="/logout">Ausloggen</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
    </nav>
</div>


</html>